body {
  font-family: sans-serif;
}

input, label, .error {
  display: block;
}

input {
  margin-bottom: 2em;
  width: 100%;
}

.error {
  color: red;
  line-height: 0;
  margin-bottom: 1em;
  margin-top: -1em;
}

textarea {
  margin: 0;
  padding: 0;
  width: 100%;
}
